
#searchForm {
	position:absolute;
  	top:44%;
  	left:34%;
}

.col-sm-4 {
    width: 50%;
}


.carousel {
  margin-bottom: 0;
  margin-top: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
  
}


.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 100%;
  background-color:#bbb;
  overflow:hidden;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}


.carousel .active.left, .carousel .active.right {
    left:0;
    opacity:0;
    z-index:2;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


.navbar {
	margin-bottom: 0;
	position: absolute;
    left: 0;
    right: 0;
    width: auto;
    border-radius: 0px;
}

#gedunglist {
  margin-top: 100px;
  position: absolute;
  /*margin-left: 0px;
  margin-right: 0px;*/
}

#labelnama {
  margin-top: 80px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#footer {
  margin-top: 650px;
}




.navbar-custom .icon-bar {
  background-color:#fff;
}

.navbar-custom {
  background-color: #168ccc;
    color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
  background-color:#49bfff;
}

.navbar-custom a{
    color:#fefefe;
}

.navbar-custom .form-control:focus {
  border-color: #49bfff;
  outline: 0;
  -webkit-box-shadow: inset 0 0 0;
  box-shadow: inset 0 0 0;
}

#main, #main>.row {
  height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
  height:100%;
}

#map-canvas {
  width:33.3333%;
    height:calc(100% - 0);
    width: 67%;
    position:absolute;
    margin-right: 0px;
    left: 415px;
    top: 100px;
    bottom: 90px;
    overflow:hidden;
}

#header_peta {
  margin-top: -50px;
  /*position: absolute;*/
}
 
#gedunglist {
  /*position:absolute;*/
  left: 50px;
}



